TEST_ENV=dev
BASE_URL=https://playwright.dev
API_BASE_URL=https://jsonplaceholder.typicode.com
API_TOKEN=
BROWSER=chromium
HEADLESS=true
PARALLEL=1
RETRY=0
STEP_TIMEOUT=60000
WEBSOCKET_URL=wss://echo.websocket.events
DEVICE=
